<h2>Create Survey</h2>

<div class="survey">
  <form action="/create_survey" method="POST">
    Title: <input type="text" name="name">
    Question 1: <input type="text" name="question1">
    Question 2: <input type="text" name="question2">
    Question 3: <input type="text" name="question3">
    Question 4: <input type="text" name="question4">
    Question 5: <input type="text" name="question5">
    <input type="submit" value="Create Survey">
  </form>
</div>
