<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- pure.css -->
<!--   <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> -->


 <% DERP = false; %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
      <div id='topleft'>  <a href="/">Mega Survey</a>  </div>
      <div id='topcenter'> <%  if session[:user] || DERP %> <a href="/survey">Create Survey</a>
      <% else %>  <a href="/">Create an Account!</a>  <% end %> </div>
      <div id='topright'>
        <% if session[:user] || DERP %>
         <li><a href="/signout">Sign out</a></li>
         <li><a href="/profile">Profile</a></li>
         <% else %>

          <li><form id="signinform" method="post" action="/signin">

            <input size="6" type="text" name="login" value="" placeholder="Username">
            <input size="6" type="password" name="password" value="" placeholder="Password">
            <input id="sign-in" type="submit" name="commit" value="Login">
          </form></li>
          <li><a href="/signup">Sign up</a></li>

    <% end %>

 </div>

  </header>

  <%= yield %>
</body>
</html>
