<div class="container">
<h1>Surveys</h1>
<br>

  <% @surveys.each do |survey| %>
    <div class="survey">
      <h2><%= survey.name %></h2>
      <p>created by: <%= survey.user.username %></p>
      <a href="/take_survey/<%= survey.id %>">Take Survey</a> &nbsp;&nbsp; - &nbsp;&nbsp;
      <a href="/survey/results/<%= survey.id %>">View Survey</a>
    </div>
    <br>
    <br>
  <% end %>

</div>
