.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}
header {
  padding: 10px;
  background-color: black;
  text-decoration: none;
  display: inline-flex;
  width: 100%;

}
/*form {
  float:right;
  margin: 0 20px;
}*/
nav {
  margin:0;
  padding:0;
  width: 80%;

}

nav span {
  width: 20%;

}
nav ul {
  list-style-type:none;
  margin:0;
  padding: 10px 20px 20px 0;
/*  width: 20%;
*/}
nav li {
  float:right;
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
header a:link {text-decoration:none; color:#FFF;}
header a:visited {text-decoration:none;color:#FFF;}
header a:hover {text-decoration:underline;color:#ff0;}
header a:active {text-decoration:underline;color:#FFF;}

.topper {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 2em;
}

.topper a:hover {
  text-decoration: underline;
}

.container {
  width: 80%;
  margin: 0 auto;
}
